streamlit
streamlit-extras
streamlit-option-menu
streamlit-aggrid

# Data Processing
pandas
numpy
yfinance
ta
pandas-datareader

# Visualization
plotly
matplotlib
seaborn
altair

# Machine Learning
scikit-learn
xgboost

# Utilities
python-dotenv
requests
beautifulsoup4
nltk
textblob
loguru
